@use '../../scss/' as *;



.firstpage {
    width: 100vw;
    height: 100vh;
    background: url('../../../public/bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    color: $white;


    &__darker {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.489);
    }

    &__logo {
        position: relative;
        z-index: 5;
        @include padding-Y(50px, unset);
        @include padding-X(50px, unset)
    }

    &__content {
        position: relative;
        z-index: 5;
        height: 100%;
        max-width: 900px;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        row-gap: 20px;
    }

    &__title {
        font-size: rem(50);
        font-weight: 700;
        text-align: center;

        @include tablet {
            font-size: rem(39);
        }

        @include mobSmall {
            font-size: rem(30);
        }
    }

    &__button {
        @include flex(center, center);

        &__wrapper {
            @include padding-X(23px, 23px);
            @include padding-Y(12px, 12px);
            background-color: $red;
            outline: none;
            border: none;
            color: $white;
            font-weight: 500;
            font-size: rem(23);
            border-radius: 30px;
            letter-spacing: 2px;
            cursor: pointer;
            transition: all .2s ease;

            @include tablet {
                font-size: 18px;
            }

            &:hover {
                background-color: $redder;
            }
        }
    }
}