@use '../../scss/' as *;

body {}

.home {
    background-color: $gray;

}

.video {
    position: relative;
    max-width: 100%;
    height: 80vh;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    video {
        height: 100%;
        width: 100%;
    }
}

.render__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ght {
    position: relative;
    z-index: 3;
}


.genres {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: red;
    margin-bottom: 10px;

    &:hover {
        background-color: yellow;
    }
}