$tablet: 991px;
$mobile: 767px;
$mobileSmall: 480px;

$black: #010001;
$white: #e2e1e1;
$red: #F62111;
$redder: #982017;
$whiter: #fff;
$gray: #232631a2;

$box-shadow: 0px 0px 7px 9px rgba(#F62111, 0.7);
$box-shadow-Darker: 0px 3px rgba(0, 0, 0, 0.099);